@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../Assets/Fonts/Poppins-Regular.woff2) format('woff2') url(../Assets/Fonts/Poppins-Regular.woff) format('woff') url(../Assets/Fonts/Poppins-Regular.ttf) format('ttf');
}

@font-face {
    font-family: 'Poppins';
    font-style: thin;
    font-weight: 100;
    font-display: swap;
    src: url(../Assets/Fonts/Poppins-Thin.woff2) format('woff2') url(../Assets/Fonts/Poppins-Thin.woff) format('woff') url(../Assets/Fonts/Poppins-Thin.ttf) format('ttf');
}

@font-face {
    font-family: 'Poppins';
    font-style: semi-bold;
    font-weight: 600;
    font-display: swap;
    src: url(../Assets/Fonts/Poppins-SemiBold.woff2) format('woff2') url(../Assets/Fonts/Poppins-SemiBold.woff) format('woff') url(../Assets/Fonts/Poppins-SemiBold.ttf) format('ttf');
}

@font-face {
    font-family: 'AMORIA', serif;
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(../assets/Fonts/AMORIA.woff2) format('woff2') url(../assets/Fonts/AMORIA.woff) format('woff') url(../assets/Fonts/AMORIA.ttf) format('ttf');
}

body {
    margin: 0;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Poppins', sans-serif;
    background-color: #e6e6e6;
    width: 100vw;
    height: 100vh;
}

.background-container {
    position: absolute;
    width: 100vw;
    height: 100vh;

}

/* 1. Background image on the left */

.bg-img {
    position: absolute;
    background-image: url(../Assets/initial_page_bckg_cropped.webp);
    width: 60vw;
    height: 100vh;
    background-size: cover;

}

/* 2. Semi-transparent overlay */
.bg-overlay {
    position: absolute;
    width: 60vw;
    height: 100vh;
    background-color: rgba(162, 130, 197, 0.3);
    /* purple tone with 50% opacity */
}

/* 3. Wavy panel background
 This is the wavy panel background that sits on top of the overlay 
 It's an SVG image that covers the entire viewport */
.wavy-panel {
    background-image: url(../Assets/svgs/intial_page_panel.svg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    width: 145vw;
    height: 100vh;
    position: absolute;
}

/* Content sits on top */
.content {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    width: 100vw;
    height: 100vh;
    align-content: flex-end;
}

/* The logo is the name Portfolio on the page with the squiggles */

.squiggles {
    position: relative;
    display: flex;
    align-self: flex-end;
    width: 50vw;
    height: 50vh;
    background-image: url(../Assets/tittleandsquiggles.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 1;
}

/* 3 buttons that scroll the user to the page selected*/
.nav-buttons {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    gap: 2rem;
    width: 32vw;
    z-index: 2;
}

.btn {
    background-color: var(--bubble-color, #F29B70);
    color: #fff !important;
    border: none;
    border-radius: 12px;
    font-size: 1.2rem;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    width: 15rem;
    height: 3rem;
    position: relative;
    z-index: 3;
}

.btn:active {
    transform: scale(0.98);
    background-color: var(--bubble-color);
}

.btn span.shape {
    height: 2.7rem;
    width: 15rem;
    position: absolute;
    top: 0;
    left: 0;
}

.btn span span {
    content: "";
    position: absolute;
    margin: auto;
    height: 8px;
    width: 2px;
    background: var(--bubble-color, #F29B70);
    opacity: 0;
}

.btn span span:nth-of-type(1) {
    top: -20px;
    left: 0;
    right: 0;
}

.btn span span:nth-of-type(2) {
    bottom: -20px;
    left: 0;
    right: 0;
}

.btn span span:nth-of-type(3) {
    top: 0;
    bottom: 0;
    left: -10px;
}

.btn span span:nth-of-type(4) {
    top: 0;
    bottom: 0;
    right: -10px;
}

.btn span span:nth-of-type(5) {
    top: -20px;
    left: -70%;
    right: 0;
    transform: rotate(-30deg);
}

.btn span span:nth-of-type(6) {
    top: -20px;
    left: 0;
    right: -70%;
    transform: rotate(30deg);
}

.btn span span:nth-of-type(7) {
    bottom: -20px;
    right: 0;
    left: -70%;
    transform: rotate(30deg);
}

.btn span span:nth-of-type(8) {
    bottom: -20px;
    left: 0;
    right: -70%;
    transform: rotate(-30deg);
}

/* animations */
@keyframes bounce {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.btn.active {
    animation: bounce 0.3s ease-out 1;
    background-color: var(--bubble-color);
}

.btn.active span span:nth-of-type(1) {
    animation: anim1 0.4s ease-out 1;
}

.btn.active span span:nth-of-type(2) {
    animation: anim2 0.4s ease-out 1;
}

.btn.active span span:nth-of-type(3) {
    animation: anim3 0.4s ease-out 1;
}

.btn.active span span:nth-of-type(4) {
    animation: anim4 0.4s ease-out 1;
}

.btn.active span span:nth-of-type(5) {
    animation: anim5 0.4s ease-out 1;
}

.btn.active span span:nth-of-type(6) {
    animation: anim6 0.4s ease-out 1;
}

.btn.active span span:nth-of-type(7) {
    animation: anim7 0.4s ease-out 1;
}

.btn.active span span:nth-of-type(8) {
    animation: anim8 0.4s ease-out 1;
}

@keyframes anim1 {
    0% {
        transform: scaleY(0.5);
        opacity: 0;
    }

    50% {
        transform: translateY(-10px) scaleY(1.4);
        opacity: 1;
    }

    100% {
        transform: translateY(-20px) scaleY(0.5);
        opacity: 0;
    }
}

@keyframes anim2 {
    0% {
        transform: scaleY(1);
        opacity: 0;
    }

    50% {
        transform: translateY(10px) scaleY(1.4);
        opacity: 1;
    }

    100% {
        transform: translateY(20px) scaleY(0.5);
        opacity: 0;
    }
}

@keyframes anim3 {
    0% {
        transform: rotate(90deg) scaleX(0.5);
        opacity: 0;
    }

    50% {
        transform: rotate(90deg) translateY(10px) scaleX(1.4);
        opacity: 1;
    }

    100% {
        transform: rotate(90deg) translateY(20px) scaleX(0.5);
        opacity: 0;
    }
}

@keyframes anim4 {
    0% {
        transform: rotate(90deg) scaleX(0.5);
        opacity: 0;
    }

    50% {
        transform: rotate(90deg) translateY(-10px) scaleX(1.4);
        opacity: 1;
    }

    100% {
        transform: rotate(90deg) translateY(-20px) scaleX(0.5);
        opacity: 0;
    }
}

@keyframes anim5 {
    0% {
        transform: rotate(-30deg) scaleY(0.5);
        opacity: 0;
    }

    50% {
        transform: rotate(-30deg) translateY(-8px) scaleY(1.4);
        opacity: 1;
    }

    100% {
        transform: rotate(-30deg) translateY(-16px) scaleY(0.5);
        opacity: 0;
    }
}

@keyframes anim6 {
    0% {
        transform: rotate(30deg) scaleY(0.5);
        opacity: 0;
    }

    50% {
        transform: rotate(30deg) translateY(-8px) scaleY(1.4);
        opacity: 1;
    }

    100% {
        transform: rotate(30deg) translateY(-16px) scaleY(0.5);
        opacity: 0;
    }
}

@keyframes anim7 {
    0% {
        transform: rotate(30deg) scaleY(0.5);
        opacity: 0;
    }

    50% {
        transform: rotate(30deg) translateY(8px) scaleY(1.4);
        opacity: 1;
    }

    100% {
        transform: rotate(30deg) translateY(16px) scaleY(0.5);
        opacity: 0;
    }
}

@keyframes anim8 {
    0% {
        transform: rotate(-30deg) scaleY(0.5);
        opacity: 0;
    }

    50% {
        transform: rotate(-30deg) translateY(8px) scaleY(1.4);
        opacity: 1;
    }

    100% {
        transform: rotate(-30deg) translateY(16px) scaleY(0.5);
        opacity: 0;
    }
}

.btn:nth-child(2) {
    background-color: #A282C5;
}

.btn:nth-child(3) {
    background-color: #AAB8DB;
}

/* Footer needs to stay stuck in place and is the same for all pages */
footer {
    display: flex;
    color: #888;
    gap: 2rem;
    right: 2rem;
    bottom: 1rem;
    position: fixed
}

/* Home page bellow */

.pageHome {
    background-image: url(../Assets/backgroundlightmode.webp);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem;
    position: relative;
    width: 100vw;
    height: 100px;
}

.portfolio {
    position: absolute;
    top: 2rem;
    right: 5rem;
}

.portfolio a {
    text-decoration: none;
    color: #A282C5;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #3B404D;
    font-family: "AMORIA", serif;
    font-size: 6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0.8;
}

.folio {
    margin-left: 5.5rem;
}

.page-indicators {
    display: flex;
    gap: 2rem;
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 77vw;
    /* Adjust width to allow flex distribution */
    justify-content: flex-start;
    /* Align items to the start */
    align-items: center;
}

.dot {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    transition: margin-left 1s ease-in-out;
    /* Add transition for smooth movement */
}

.dot-blue {
    background-color: #AAB8DB;
    order: 1;
}

.dot-orange {
    background-color: #F29B70;
    order: 2;
}

.dot-green {
    background-color: #9FC280;
    order: 3;
}

/* About page bellow */
.pageAbout {
    background-image: url(../Assets/backgroundlightmode.webp);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

/* Project page bellow */
.pageProjects {
    background-image: url(../Assets/backgroundlightmode.webp);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

.scroll-horizontal {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}